body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#titulo{
    text-align: center;
    border-bottom: solid skyblue;
}
table{
    border-collapse: collapse;
    width: 50%;
}
table, td, th{
    border: 1px solid black;
    text-align: center;
}
th{
    background-color:cadetblue ;
}
td{
    background-color: whitesmoke;
}
